node_modules/
.env
.env.*
!.env.example
dist/
build/
coverage/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

data/*.sqlite
data/*.sqlite-*
data/icecat-smartphones.json
